@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    background-color: rgba(27, 36, 74, 1);
    margin: 0 auto;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: rgba(27, 36, 74, 1);
    margin: 30px auto 20px;
    width: 100%;
    max-width: 600px;
    
}

h3 {
    color: rgba(238, 238, 238, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    margin-bottom: 18px;    
}

h4 {
    background-color: black;
    color: rgba(249, 79, 109, 1);
    text-align: center;
    font-size: 90px;
    padding-top: 12px;
    border-radius: 6px;
    margin-top: 18px;
    margin-bottom: 12px;
    font-family:'Black Ops One', cursive;
}

button {
    background-color: rgba(27, 36, 74, 1);
    border: solid white 1px;
    border-radius: 3px;
    color: white;
    padding: 10px;
    margin-right: 13px;
    margin-left: 10px;
    margin-top: 12px;
    opacity: 0.5;
    font-size: 19px;
    letter-spacing: 3px;
    
    
}
